<button
  type="button"
  class="ex-button {{ 'ex-button--' ~ style|default('primary') }} {{ size != m ? 'ex-button-size--' ~ size : '' }} {{ disabled ? 'ex-button--disabled' : '' }}"
  {{ disabled ? 'disabled' : '' }}
>
  {{ text }}
</button>
