{% set classes = [
  'ex-card',
] | merge(classes|default([])) %}

<div class="{{ classes|join(' ') }}">
  {% if imgSrc %}
    <img src="{{ imgSrc }}" class="ex-card_img" alt="{{ imgAlt }}">
  {% endif %}
  <div class="ex-card_body">
    <h5 class="ex-card_title">{{ cardTitle }}</h5>
    {% if cardSubTitle %}
      <h6 class="ex-card_subtitle">{{ cardSubTitle }}</h6>
    {% endif %}
    <p class="ex-card_text">{{ cardBody }}</p>
    {{ footerSlot }}
  </div>
</div>
